[Unit]
Description=extensible python monitor (_TIME_)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=300s
ExecStartPre=/bin/sleep 60
ExecStart=/usr/local/loblab/exmon/bin/node.sh

[Install]
WantedBy=multi-user.target
